<div class="illus" id="{{ content.id }}">
    <div class="image">
        {%- set image = content.data.size[preferred_image_size(content.data)] %}
        <img src="Image/{{ image['src'] | to_sha1 }}.jpg" alt="" width="{{ image['width'] }}" height="{{ image['height'] }}" />
    </div>
    {%- if content.data.legend %}
    <div class="legend">
        {{ content.data.legend | render_legend }}
    </div>
    {%- endif %}
</div>
{# vim:set ft=jinja: #}
